{{ attach_library('divert/header') }}
<div id="header_menu">
    <nav>
        <ul>
            <li class="accueil  ">
                <a href="#">
                    <i class="maison">Accueil</i>
                </a>
            </li>
            <li class="international  ">
                <a href="#">
                    International
                </a>
            </li>
            <li class="politique  ">
                <a href="#">
                    Politique
                </a>
            </li>
            <li class="societe  ">
                <a href="#">
                    Société
                </a>
            </li>
            <li class="economie  ">
                <a href="#">
                    Éco
                </a>
            </li>
            <li class="culture  ">
                <a href="#">
                    Culture
                </a>
            </li>
            <li class="idees  ">
                <a href="#">
                    Idées
                </a>
            </li>
            <li class="planete  ">
                <a href="#">
                    Planète
                </a>
            </li>
            <li class="sport  ">
                <a href="#">
                    Sport
                </a>
            </li>
            <li class="sciences  ">
                <a href="#">
                    Sciences
                </a>
            </li>
            <li class="pixels  ">
                <a href="#">
                    Pixels
                </a>
            </li>
            <li class="campus  ">
                <a href="#">
                    Campus
                </a>
            </li>
            <li class="m-mag  ">
                <a href="#">
                    Le Mag
                </a>
            </li>
            <li class="abonnes ">
                <a href="#">
                    Édition Abonnés
                </a>
            </li>
            <li>
                <div>
                    <span>PLUS DE RUBRIQUES</span>
                    <a href="#">Grands Formats</a>
                    <a href="#">Les décodeurs</a>
                    <a href="#">Vidéos</a>
                    <a href="#">Données du Monde</a>
                </div>
            </li>
        </ul>
    </nav>
</div>